:root {
    --blue:       #221959;
    --light-blue: #73A9D9;
    --green:      #5DA629;
    --yellow:     #F2D377;
    --red:        #D92323;
    --light:      #FFFFFF;
    --dark:       #000000;
}

#root {
    height: 100vh;
}

#page {
}
* {
    margin: 0;
    padding: 0;
}
.accordion{
    --bs-accordion-bg: var(--light)!important;
    --bs-accordion-active-color: var(--light)!important;
}
.accordion-item {
    border: 0 solid var(--light)!important;
}
.accordion-header {
    background-color: var(--light) !important;
}
.accordion-button:not(.collapsed) {
    background-color: var(--light)!important;
    color: var(--dark)!important;
    box-shadow: none!important;
    align-items: center!important;
    height: 5px!important;
}
.accordion-button:not(.collapsed)::after {
    content: none!important;
}
.accordion-button::after {
    text-align: center!important;
    content: none!important;
}
.accordion-button.collapsed {
    background-color: var(--light);
    color: var(--dark);
    height: 5px!important;
}
.accordion-body {
    background-color: var(--light);
    color: var(--dark);
}
.Home {
    left: 0;
    background-color: var(--light);
 }
.navbar {
    min-height: 100px;
}
.Navbar {
    left: 0;
    top: 0;
    position: fixed;
    background-color: var(--light);
}
.Catalog {
    padding-top: 120px;
    padding-bottom: 130px;
}
.Catalog-Menu {
    text-align: left;
}
.Catalog_Data {
    text-align: left;
}
.nav.nav-pills .nav-link {
    background-color: var(--light);
    color: var(--light);
}
.nav.nav-pills .nav-link.active {
    background-color: var(--light);
}